* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--color-grayscale-dark: rgb(131, 130, 130);
	--color-grayscale-medium: rgb(156, 156, 156);
	--color-grayscale-light: rgb(231, 231, 231);
}

.ss-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5em;
	padding-right: 1.5em;
	max-width: 600px;
	width: 100%;
}

.link, a {
	color: #007bff;
	cursor: pointer;
}

.link:hover, a:hover {
	color: #0056b3;
	text-decoration: underline;
}